body {
    margin-top: 40px;
    margin-bottom: 80px;

}
.logo {
    height: 200px;
    background: url('../images/logo-big.png') no-repeat;
    background-size: contain;
    background-position-x: 100%;
    margin-top: 10px;

}
.bs-docs-social {
    text-align: center;
}
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
}

.jumbotron {
    padding-top: 28px;
    padding-bottom: 18px;
}


.title{
    font-family: 'Open Sans';
}

.navbar{
    background-color: rgba(0,0,0,0.5);
    border:none;
}
.navbar .navbar-inner a{
    color: #fff;
}

.navbar-brand > img {
    display: inline-block;
    height: 52px;
    margin-top: -16px;
}


.navbar-default .navbar-nav > li > a{
    color: #fff;
    font-family: 'open Sans';
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
    font-weight: 600;
}

p.description {
    font-family: 'Open Sans';
    font-size: 15px;
}

.fa{
    color: #000;
    border-color: #fff;
}


#overview{
  background:url('../images/background.jpg') no-repeat;
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  height: 430px;

  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.jumbotron .container{
    margin-top: 80px;
    color: #fff;
}

nav#menu{
    opacity: 0;
}


.navbar-brand > img {
    display: block;
    height: 32px;
}

p.text-muted {
    margin: 0 5px 0 5px;
}

#escolas p {
  margin: 0 5px 0 5px;
}
