body {
    margin-top: 40px;
    margin-bottom: 80px;

}
.logo {
    height: 150px;
    background: url('../logo/logo.png') no-repeat;
    background-size: contain;
    background-position-x: 100%;
    margin-top: 10px;
}
.bs-docs-social {
    text-align: center;
}
.bs-docs-social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.bs-docs-social-buttons li {
    display: inline-block;
    padding: 5px 8px;
    line-height: 1;
}

.jumbotron {
    padding-top: 28px;
    padding-bottom: 18px;
}

.title{
    font-family: 'Open Sans';
}

.navbar{
    background: #000;
}
.navbar .navbar-inner a{
    color: #fff;
}



.navbar-default .navbar-nav > li > a{
    color: #fff;
    font-family: 'open Sans';
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active, {
    font-weight: 600;
    color: #fff;
}