<!DOCTYPE html>
<html id="top" lang="en" ng-app="OcupaEscola">
    <head>
        <title>#OcupaEscola - Rio de Janeiro</title>
        <meta charset="utf-8" />
        <link href="logo/logo.png" rel="shortcut icon">

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <link href="css/app.css" rel="stylesheet">

    </head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76451200-1', 'auto');
      ga('send', 'pageview');

    </script>

    <body ng-controller="MainCtrl">
        <header class="navbar navbar-fixed-top navbar-default">
            <div class="navbar-inner">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://ocupaescola.github.io/">#OcupaEscola</a>
                    </div>

                    <div class="container">
                        <div class="container">
                            <div class="dropdown"></div>

                            <div class="navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a class="links" href="#escolas">Escolas</a>
                                    </li>
                                    <li>
                                        <a class="links" target="_blank" href="https://www.google.com/maps/d/u/0/viewer?hl=pt-BR&authuser=0&mid=zUxLhTXS7bbg.kStmJG2txerg">Mapa</a>
                                    </li>
                                    <li>
                                        <a class="links" href="https://github.com/ocupaescola"><i class="fa fa-lg fa-github"></i> GitHub</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div>
            <header class="jumbotron" id="overview">
                <div class="container">
                    <div class="col-sm-3 logo"></div>
                    <div class="col-sm-7">
                        <h1 class="title">#OcupaEscola</h1>
                        <h3 class="title __subtitle">Rio de Janeiro</h3>
                        <p>Estudantes lutando pelo bem público!</p>
                        <p class='description'>
                            O Colégio Estadual Prefeito Mendes de Moraes, na Ilha do Governador, foi a primeira escola a ser ocupada no Rio de Janeiro. A ocupação, que segue os mesmos moldes das escolas de São Paulo, aconteceu no dia 22 de março. O movimento foi crescendo, até passar de mais de 10 escolas ocupadas. Em apoio à Greve da Educação 2016, alunos e alunas seguem na luta em defesa de uma educação púbica de qualidade!
                        </p>
                    </div>
                </div>

                <div class="bs-docs-social">
                    <div class="container">
                        <ul class="bs-docs-social-buttons">
                            <li>
                                <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="OcupaEscola, Rio, OcupaTudo">Tweet</a>
                                <script>!function(d, s, id) {
                                                var js, fjs = d.getElementsByTagName(s)[0];
                                                if (!d.getElementById(id)) {
                                                    js = d.createElement(s);
                                                    js.id = id;
                                                    js.src = "//platform.twitter.com/widgets.js";
                                                    fjs.parentNode.insertBefore(js, fjs);
                                                }
                                            }(document, "script", "twitter-wjs");</script>
                            </li>

                            <li>
                                <!-- Place this tag where you want the +1 button to render. -->

                                <div class="g-plusone" data-size="medium"></div><!-- Place this tag after the last +1 button tag. -->
                                <!-- Place this tag after the last +1 button tag. -->
                                <script type="text/javascript">
                                            (function() {
                                                var po = document.createElement('script');
                                                po.type = 'text/javascript';
                                                po.async = true;
                                                po.src = 'https://apis.google.com/js/plusone.js';
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(po, s);
                                            })();
                                </script>

                            </li>
                        </ul>
                    </div>
                </div>
            </header>

            <div class="container" >
                <section id="escolas">
                    <h1 class="page-header">Escolas Ocupadas</h1>
                    <p class="text-muted">
                        <input class="form-control" autofocus="autofocus" style="max-width: 15em; display: inline-block;" ng-model="searchText" placeholder="search...">
                        {{(escolas| filter:searchText).length}} escolas já foram ocupadas.
                    </p>
                    <div class="list-group">
                        <div ng-repeat="escola in escolas| filter:searchText | orderBy: 'name'" href="{{escola.src}}" class="list-group-item">
                            <p class="pull-right">
                                <a href="{{escola.home}}" title="Home / Demo page" ng-if="escola.home"><i class="fa fa-3x fa-home"></i></a>
                                <a href="https://twitter.com/search?q=%23{{escola.src}}" target="_blank" title="twitter"><i class="fa fa-3x fa-twitter"></i></a>
                                <a href="https://www.facebook.com/hashtag/{{escola.src}}" target="_blank" title="facebook"><i class="fa fa-3x fa-facebook"></i></a>
                                <a href="https://www.youtube.com/results?search_query={{escola.src}}" target="_blank" title="facebook"><i class="fa fa-3x fa-youtube"></i></a>
                            </p>
                            <h4 class="list-group-item-heading">{{escola.name}}</h4>
                            <p class="list-group-item-text text-muted">{{escola.desc}}</p>
                        </div>
                    </div>

                </section>



            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/facebookApi.js"></script>
    </body>
</html>
